/* 전체 변수 */
:root {
    --side-bar-width: 20vh;
    --side-bar-height: 90vh;
}
/*공통 시작*/
#navi, main {
    padding: 0dvh 10dvh 0dvh 10dvh;
    /* margin-left: var(--side-bar-width); */
}
/* 배경 색상(하얀색) */
.bg_white {
    background: rgb(253, 253, 253);    
}
/* 배경 색상(검은색) */
.bg_black {
    background: rgb(58, 58, 58);
}
/* 테두리 색상 및 글자 색상(회색) */
.b_c_gray {
    border: 2px solid rgb(176, 176, 176);
    color: rgb(176, 176, 176);
}
/* 테두리 색상 및 글자 색상(초록색) */
.b_c_green {
    border: 2px solid rgb(125, 159, 95);
    color: rgb(125, 159, 95);
}
/* 우측 보더 설정(회색) */
.rightB_gray {
    border-right: 2px solid rgb(176, 176, 176);
}
/* 우측 보더 설정(초록) */
.rightB_green {
    border-right: 2px solid rgb(125, 159, 95);
}
/* 네비게이션-a태그 밑줄 제거 */
.navA_gray, .navA_green {
    text-decoration: none;
}
/* 네비게이션-카테고리-A태그 색상(회색) */
.navA_gray:link, .navA_gray:visited {
    color: rgb(176, 176, 176);
}
/* 네비게이션-카테고리-A태그 색상(초록색) */
.navA_green:link, .navA_green:visited {
    color: rgb(125, 159, 95);
}
.bL_gray {
    border: 2px dashed rgb(176, 176, 176);
}
.bL_green {
    border: 2px dashed rgb(125, 159, 95);
}
.aTagTarget {
    text-decoration-line: underline;
}
/* 다시 공부해야할 것 */
.du {
    color: red;
}
.noDisplay {
    display: none;
}
/* 중요 내용 색상(회색) */
mark.gray {
    background-color: rgb(176, 176, 176);
    color: rgb(253, 253, 253);
}
/* 중요 내용 색상(초록색) */
mark.green {
    background-color: rgb(125, 159, 95);
    color: rgb(58, 58, 58);
}
/*공통 끝*/

/* 드롭다운 시작 ============================*/
/* 드롭다운 영역 */
.dropdown{
    position : relative;
    display : inline-block;
}
/* 드롭다운 하위 영역 */
.dropdown-content{
    display : none;
    position : absolute;
    z-index : 1; /*다른 요소들보다 앞에 배치*/
    width : 100%;
    left : -2px;
}
/* 드롭다운 a태그 */
.dropdown-content a{
    display : block;
    padding : 1% 0 1% 0;
    margin: 0 3% 0 3%;
    border-bottom: 1px dashed;
}
/* 드롭다운 a태그 커서 위치 시 */
.dropdown-content a:hover{
    background-color : #ececec
}
/* 드롭다운 커서 위치 시 */
.dropdown:hover .dropdown-content {
    display: block;
}
/* 드롭다운 이미지 위치 설정 */
.dropdown img {
    width: 3%; 
    vertical-align: middle;
    float: inline-end;
    padding-right: 3%;
    margin-left: -6%;
}
/* 드롭다운 끝 ============================*/

/* 사이드바 시작 ============================ */
/* 1depth 사이드바 */
#sidebarMain {
    position: fixed;
    width: var(--side-bar-width);
    /* min-height: var(--side-bar-height);                         사이드바의 높이를 전체 화면 높이의 90%로 지정 */
    margin-top: calc((100vh - var(--side-bar-height)) / 2);     /* 사이드바 위와 아래의 마진을 동일하게 지정 */
    height: var(--side-bar-height);
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden;
    overscroll-behavior: contain none;

    /* background: navy; */
    /* color: white; */
    /* top: 0; */
    /* left: 0; */
    /* height: 100vh; */
    /* overflow-y: auto; */
    /* overflow-x: hidden; */
}

/* 1depth용 하단 border */
.borderDiv {
    margin: 0 10% 0 15%;
    border-bottom: 1px solid;
}

#sidebarSub {
    /* position: relative; */
    position: fixed;
    width: var(--side-bar-width);
    margin-top: calc((100vh - var(--side-bar-height)) / 2);
    height: var(--side-bar-height);
    left: 20%;
    z-index: 1;
	/* margin-left: -149px; */

    /* 테스트용 */
    overflow-y: auto;
}

/* 사이드바 스크롤 미노출 처리 */
#sidebarMain::-webkit-scrollbar, #sidebarSub::-webkit-scrollbar {
    display: none;
}

.sidebarSubContainer {
    position: relative;
    height: 100%;
    /* left: 244%; */
}

#sidebarMain > ul{
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    /* height: 7.6vh; */
    /* width: 100%;
    height: 200vh; */
}

.sidebarSubContainer > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    /* height: 100%; */
    height: 7.6vh;
    /* width: 100%;
    height: 200vh; */


    /* 테스트용 */
    /* position: fixed; */
}

#sidebarMain a{
    text-decoration: none;
    color: inherit;
    padding: 1rem 2rem;
    display: block;
    min-width: 150px;
}

.sidebarSubContainer a {
    text-decoration: none;
    color: inherit;
    padding: 1rem 2rem;
    display: block;
    min-width: 150px;
}

.sidebarSubContainer a {
/* .groupStart { */
    background: lightblue;
    padding: 1rem;
    border-radius: 0.4rem;
    /* visibility: hidden;
    display: block; */
    display : none;
    width: fit-content;
    /* pointer-events: none; */
    position: relative;
    /* left: 1rem; */
    
    /* &::before {
        content: '';
        position: absolute;
        top: 50%;
        right: 100%;
        width: 1rem;
        height: 1rem;
        background: lightblue;
        transform: translatey(-50%);
        clip-path: polygon(100% 0, 100% 100%, 0 50%);
    } */
}

.groupStart::before {
    /* content: '';
    position: absolute;
    top: 50%;
    right: 100%;
    width: 1rem;
    height: 1rem;
    background: lightblue;
    transform: translatey(-50%);
    clip-path: polygon(100% 0, 100% 100%, 0 50%); */
}

#sidebarMain li, .sidebarSubContainer li {
    position: relative;
}

/* body:has(#item_01:hover) [aria-describedby="item_01"] {
    display: block;
    visibility: visible;
}
body:has(#item_02:hover) [aria-describedby="item_02"] {
    display: block;
    visibility: visible;
}
body:has(#item_03:hover) [aria-describedby="item_03"] {
    display: block;
    visibility: visible;
}     */
/* 사이드바 끝 ============================ */

/* nav_Study 시작============================ */
/* 인덱스 페이지 상단 빈 공간 */
.indexTitleEmpty {
    min-height: 30dvh;
}
/* 카테고리 하위 페이지 상단 빈 공간 */
.nav_study_emptySpace {
    min-height: 5dvh;
}
/* 카테고리 페이지 상단 sticky */
.nav_sticky {
    position: sticky;
    top: 0;
    /* opacity: 0.7; */
}
/* 카테고리 페이지 인덱스 버튼 영역  */
.indexTitle {
    display: grid;
	grid-template-columns: 3fr 1fr;
    border-bottom: none;
    font-size: 4dvh;
    padding: 1dvh 0dvh 1dvh 0dvh;
}
.indexTitleText {
    text-align: center;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
/* 네비게이션-카테고리 글자 정렬 */
.nav_cate_text {
    text-align: center;
}
/* 네비게이션-카테고리 그리드 */
.nav_cate_Grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.indexATag {
    padding-left: 32%;
}
.indexTitleSubGrid {
    display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}
.indexTitleColorGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid;
    margin-right: 1dvh;
    width: 60%;
    height: 75%;
}
/* nav_Study 끝============================ */

/* Study 시작============================ */
.subArticle {
    margin: 50px 0px 50px 0px;
}
.subGroup {
    padding: 10px;
    /* border: 2px solid #7fd57f; */
    border-top: 0px;
}
.subGroupC {
    padding-top: 50px;
}
.subGrid {
    display: grid;
    grid-template-columns: 5dvh auto;
}
.subTitle {
    margin: 0px;
    padding: 10px;
    align-content: center;
    text-align: left;
}
.subText {
    padding: 5px 0px 5px 5px;
    align-content: center;
}
.subTitleHowUse {
    align-content: center;
    text-align: center;
    border-top: none;
    padding: 0px;
}
.subTextHowUse {
    align-content: center;
    text-align: center;
    border-top: none;
    padding: 1px;
}
h3.subTitle {
    border-bottom: none;
}
div.subTitle {
    border-right: none;
}
/* Study 끝============================ */